.navbar-brand {
    display: block;
    margin: auto;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: background-color 0.5s ease-out;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  
  .header.scroll {
    background-color: black;
  }
  
  /* Add padding to the body */
  body {
    padding: 50px;
    background-color: #fff;
  }

  /* Style the gallery images */
  .img-fluid {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  
  /* Add margins to the sections */
  section {
    margin-bottom: 50px;
  }